@font-face {
    font-family: 'Permanent Marker';
    src: url('../fonts/Permanent_Marker/PermanentMarker-Regular.ttf') format('opentype');
  }

:root {
    --color-1: #B3048A;
    --color-2: #21B300;
    --color-3: #1d1d1d;
    --color-4: #f1f1f1;
    color: var(--color-3);
}

:focus-visible {
    outline: none;
}

html, body {
    margin: 0;
    height: 100%;
    overscroll-behavior-y: contain;
}

.container::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/noise.png);
    mix-blend-mode: multiply;
    opacity: .75;
    pointer-events: none;
}

.container {
    margin: 0;
    height: 100%;
    background-color: var(--color-3);
    border-bottom: 3px solid var(--color-1);
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Permanent Marker', cursive, sans-serif;
}

.container > * {
    z-index: 9;
}

.brand {
    margin: auto;
    margin-top: 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.brand img {
    width: 12vw;
    height: 12vw;
}

.brand h1 {
    font-family: 'Permanent Marker', cursive, sans-serif;
    font-style: italic;
    font-size: small;
    color: transparent;
    margin-top: 5px;
    -webkit-text-stroke: 1px var(--color-1);
}

aside nav {
    display: flex;
    flex-flow: nowrap column;
    height: 36%;
    justify-content: space-around;
}

aside nav a {
    color: var(--color-4);
    text-decoration: none;
    padding-left: 3rem;
    font-weight: lighter;
}

aside nav a i {
    margin-right: 1em;
}

aside .logo {
    max-width: 80%;
    margin: 0 0 2em;
    display: block;
    padding: 2em 0 2em 1em;
}

canvas {
    margin: 0 auto;
    display: flex;
    filter: drop-shadow(2px 2px 0px var(--color-1)) drop-shadow(-2px -2px 0px var(--color-2));
}

canvas.await {
    background: url(../img/vinyl.svg) no-repeat center;
    background-size: contain;
}

canvas.active {
    display: block;
}

input[type=range] {
    -webkit-appearance: none;
    width: 80%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--color-2);
    border-radius: 1px;
    border: 1px solid var(--color-2);
  }
  input[type=range]::-webkit-slider-thumb {
    border: 2px solid var(--color-4);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: var(--color-2);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--color-2);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--color-2);
    border-radius: 1px;
    border: 1px solid var(--color-4);
  }
  input[type=range]::-moz-range-thumb {
    border: 2px solid var(--color-4);
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: var(--color-2);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: var(--color-2);
    border: 1px solid var(--color-4);
    border-radius: 2px;
  }
  input[type=range]::-ms-fill-upper {
    background: var(--color-2);
    border: 1px solid var(--color-4);
    border-radius: 2px;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    border: 2px solid var(--color-4);
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: var(--color-2);
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: var(--color-2);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: var(--color-2);
  }


.toggle-skin {
    background: transparent;
    outline: none;
    border: none;
    margin: auto;
    display: block;
    filter: invert(1);
    opacity: .75;
  }

.toggle-skin img {
    width: 9vw;
  }

.toggle-skin.toggle_animated img {
    animation: toggleAnimation .3s linear;
  }

  @keyframes toggleAnimation {
    0% {
        transform: rotate(0) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.36);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
  }

.button {
    border: none;
    background: var(--color-3);
    border: 2px solid var(--color-1);
    width: 11vw;
    height: 11vw;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    box-sizing: border-box;
    z-index: 99;
    flex: 1 1 0px;
    padding: 0;
}

.button:active {
    transform: scale(.97);
}

.button img {
    max-width: 50%;
}

.animated {
    animation: player-toggle .3s ease-out;
}

@keyframes player-toggle {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#song_caption {
    color: var(--color-1);
    text-align: center;
    font-size: small;
    width: 60vw;
    height: 3.5vw;
    font-family: 'Permanent Marker', cursive;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: 1em auto;
}

#aside_prompt {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transform-origin: center bottom;
    transition: transform .5s ease;
    background-color: var(--color-3);
    z-index: 999999;
}

#aside_prompt.prompt_active {
    transform: translateX(0);
}

.content_prompt {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.promp_title {
    color: var(--color-1);
}

.content_prompt ul {
    padding: 0;
    list-style-type: none;
    font-family: 'Permanent Marker';
    font-size: x-small;
    color: var(--color-4);
    max-height: 100vw;
    overflow: scroll;
    border-bottom: 1px solid var(--color-1);
}

.content_prompt ul li {
    border-top: 1px solid var(--color-1);
    padding: 8px 0;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.content_prompt label[for="selectSong"] {
    margin: auto;
    filter: invert(1);
}

.content_prompt #close_prompt{
    position: absolute;
    margin-bottom: 0;
    bottom: 8vw;
    font-family: 'Permanent Marker';
    font-size: xx-large;
    color: var(--color-1);
    text-align: center;
    left: 0;
    right: 0;
}
  
iframe {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


.transport {
    display: flex;
    width: 65vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1em auto 0;
}

.transport .duration {
    display: flex;
    width: 70vw;
    justify-content: center;
}

.transport .duration span {
    color: white;
    font-family: arial;
    font-weight: 100;
    font-size: xx-small;
}

.transport .buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 1em auto;
}

.transport img {
    filter: invert(1);
}

.transport .seeker {
    pointer-events: none;
    filter: grayscale(1);
    margin: auto 2vw;
    transition: filter .5s;
}

.transport button {
    filter: grayscale(1);
    pointer-events: none;
    opacity: .2;
    transition: opacity .5s, filter .5s;
}

.transport.ready .seeker {
    pointer-events: initial;
    filter: grayscale(0);
}

.transport.ready button {
    filter: grayscale(0);
    pointer-events: initial;
    opacity: 1;
}

#selectSong {
    display: none;
}

